body {padding:0; margin:0; font-family:"微软雅黑"; background-color:#555;}
.button {position:relative; text-align:center;  background-color:#555; color:#ccc; border:solid 2px #888; padding:5px;}
.button:hover {position:relative; cursor:pointer; background-color:#bbb; color:#555; border:solid 2px #888;}
#wrapper {width:100%; color:#eee3e3;}
.page {display:none; width:1024px; height:640px; margin:0px auto; background-color:#444;}
#loginPage .title {padding:50px; text-align:center;}
#loginPage .title .titleText{font-size:40px;}
#loginPage .title .titleSubtext{font-size:25px;}
#loginPage .title .info {margin-top:50px;}
#loginPage .title .info .infocard{vertical-align:middle; margin:10px; text-align:left; padding:10px; width:200px; height:120px; background-color:#333; color:#fff; display:inline-block; box-shadow:#333 3px 3px; border:solid 2px #777;}
#loginPage .title .info .infocardwhite{vertical-align:middle; margin:10px; text-align:left; padding:10px; width:200px; height:120px; background-color:#fff; color:#333; display:inline-block; box-shadow:#333 3px 3px;  border:solid 2px #333;}
#loginPage .loginArea {width:100%; text-align:center;}
#loginPage .loginArea #logintip {}
#loginPage .loginArea #serverinfo {text-align:center;}
#loginPage .loginArea #submit {height:30px; line-height:30px;}
#loginPage .loginArea table {text-align:right; margin:20px auto;}
#loginPage .loginArea table #submit {height:30px;}
#loginPage .loginArea #onlineBar {display:block; float:left; background-color:#333; width:0%; height:24px; text-align:center;}
#loginPage .loginArea #serverinfo {display:block; float:left; line-height:20px; border:solid 2px #aaa; position:absolute; z-index:1; width:150px; height:20px; text-align:center;}

#lobbyPage #leftArea {float:left; width:700px; height:616px; margin:10px 0px 10px 10px;}
#lobbyPage #roomArea {width:696px; height:420px; background-color:#888; border:solid 2px #555; overflow-x:hidden; overflow-y:scroll;}
#lobbyPage #roomArea .room {display:block; width: 630px; height: 68px; margin:10px auto; background-color:#ddd; border:solid 2px #555; color:#333; padding:10px; padding-top:8px; vertical-align:middle;}
#lobbyPage #roomArea .room:hover{background-color:#bbb; cursor:pointer;}
#lobbyPage #roomArea .room .left {vertical-align:middle; display:inline-block; width:120px; height:70px;}
#lobbyPage #roomArea .room .left #roomnum {font-size:20px; font-weight:bold;}
#lobbyPage #roomArea .room .left #desc {}

#lobbyPage #roomArea .room .middle {vertical-align:middle; display:inline-block; width:120px; height:70px; text-align:center;}
#lobbyPage #roomArea .room .middle #players {}
#lobbyPage #roomArea .room .middle #spectors {}
#lobbyPage #roomArea .room .middle #stat {}
#lobbyPage #roomArea .room #packsArea {vertical-align:middle; display:inline-block; width:380px; height:70px; margin-top:2px; overflow:auto;}
#lobbyPage #roomArea .room #packsArea .cardpack {display:inline-block; background-color:#aaa; padding:2px; margin:2px;}

#lobbyPage #leftBottomArea {width:700px; height:182px; margin-top:10px;}
#lobbyPage #leftBottomArea #statArea{float:left; width:250px; height:182px; background-color:#888; border:solid 2px #555; color:#222;}

#lobbyPage #leftBottomArea #statArea #nameTag{height:32px; background-color:#555; font-weight:bold; text-align:center; font-size:22px; line-height:32px; color:#fff; overflow:hidden;}
#lobbyPage #leftBottomArea #statArea #levelinfo{height:30px; padding:10px;  overflow:visible;}
#lobbyPage #leftBottomArea #statArea #levelinfo #level{font-size:20px; margin-bottom:5px; font-weight:bold; text-align:center;}
#lobbyPage #leftBottomArea #statArea #levelinfo #levelBarArea{width:226px; margin-top:0px;}
#lobbyPage #leftBottomArea #statArea #levelinfo #levelBarArea #levelBarBack{display:block; float:left; background-color:#333; width:90%; height:24px; text-align:center;}
#lobbyPage #leftBottomArea #statArea #levelinfo #levelBarArea #levelBarExp{color:white; display:block; float:left; line-height:20px; border:solid 2px #aaa; position:absolute; z-index:1; width:224px; height:20px; text-align:center;}
#lobbyPage #leftBottomArea #statArea #credit{margin:5px 10px; margin-top:30px;}
#lobbyPage #leftBottomArea #statArea #fish{margin:5px 10px; margin-top:5px;}
#lobbyPage #leftBottomArea #statArea #title{height: 30px; display:inline-block; width:60px; vertical-align:top; text-align:right;}
#lobbyPage #leftBottomArea #statArea #content{height: 30px; color:#222; font-weight:bold; margin-left:10px;  vertical-align:top;}

#lobbyPage #leftBottomArea #chatArea{float:right; width:432px; height:182px;}
#lobbyPage #leftBottomArea #chatArea #messages{float:right; width:422px; height:138px; background-color:#888; border:solid 2px #555; overflow-x:hidden; overflow-y:scroll; padding:5px;}
#lobbyPage #leftBottomArea #chatArea #messages #server{color:#444; font-weight:bold;}
#lobbyPage #leftBottomArea #chatArea #messages #br{color:#333; font-weight:bold;}
#lobbyPage #leftBottomArea #chatArea #messages #br span{color:#eee; font-weight:bold;}
#lobbyPage #leftBottomArea #chatArea #messages #name{color:#ccc; font-weight:bold;}
#lobbyPage #leftBottomArea #chatArea #messages #content{color:#fff;}
#lobbyPage #leftBottomArea #chatArea #inputArea{float:right; width:432px; height:24px; background-color:#888; border:solid 2px #555; margin-top:6px;}
#lobbyPage #leftBottomArea #chatArea #inputArea #inputbox{float:left; width:340px; height:20px; background-color:#888; border:0; margin:1px;}
#lobbyPage #leftBottomArea #chatArea #inputArea #submit{float:right; width:80px; height:20px; border:solid 2px #555; padding:0px;}

#lobbyPage #rightArea {float:right; width:290px; height:616px; margin:10px 10px 10px 0px;}
#lobbyPage #rightArea #playersArea {width:286px; height:480px; background-color:#888; border:solid 2px #555;  overflow-x:hidden; overflow-y:scroll;}
#lobbyPage #rightArea #playersArea .player{ overflow:hidden; height:26px; background-color:#ddd; margin:5px; padding:5px; line-height:26px; color:#333; font-weight:bold; border:solid 2px #444;}
#lobbyPage #rightArea #playersArea .player #level{display:inline-block; width:50px; }
#lobbyPage #rightArea #playersArea .player #name{display:inline-block; width:190px; text-align:center;}

#lobbyPage #rightArea #settingsArea {width:286px; height:122px; background-color:#888; border:solid 2px #555; margin-top:10px;}
#lobbyPage #rightArea #settingsArea .button {display:inline-block; width:118px; margin:4px 0px 0px 5px; border:solid 2px #444;}

#gamePage{}
#gamePage #leftArea{float:left; width:230px; height:620px; padding:10px;}
#gamePage #leftArea #roominfo{width:246px; height:30px; background-color:#888; border:solid 2px #555;}
#gamePage #leftArea #roominfo #roomnum{display:inline-block; line-height:30px; font-weight:bold; width:50px; height:30px; text-align:center; vertical-align:top;}
#gamePage #leftArea #roominfo #roomname{display:inline-block; line-height:30px; font-weight:bold; width:190px; height:30px; text-align:left; overflow:hidden; word-break:keep-all;}

#gamePage #leftArea #blackCardArea{width: 240px; height:144px;}
#gamePage #leftArea #blackCardArea #blackCard{width: 236px; height:130px; background-color:#111; padding:5px; border:solid 2px #555; margin-top:10px;  font-size:18px; word-break:break-all;}
#gamePage #leftArea #blackCardArea img{max-width:100%; height:auto;}
#gamePage #leftArea #blackCardArea #blackCard .blank{display:inline; word-break:break-all;}
#gamePage #leftArea #blackCardArea #blackCard #info{position:absolute; float:left; top:178px; color:#666; font-size:12px;}
#gamePage #leftArea #blackCardArea #hostSettings #startGame{margin-top:5px; width:236px; }

#gamePage #leftArea #timerArea{width: 240px; height:20px; margin-top:5px; }
#gamePage #leftArea #timerArea #timerBack{width: 246px; height:20px; background-color:#999; border:solid 2px #555;}
#gamePage #leftArea #timerArea #timerBack #timerFill{width:32%; height:20px; background-color:#111;}

#gamePage #leftArea #statArea{width:246px; height:122px; margin-top:10px; background-color:#888; border:solid 2px #555; color:#222;}
#gamePage #leftArea #statArea #nameTag{height:24px; background-color:#555; font-weight:bold; text-align:center; font-size:18px; line-height:24px; color:#fff; overflow:hidden;}
#gamePage #leftArea #statArea #levelinfo{height:50px;  overflow:visible;}
#gamePage #leftArea #statArea #levelinfo #level{font-size:16px; font-weight:bold; text-align:center;}
#gamePage #leftArea #statArea #levelinfo #levelBarArea{width:226px; margin-left:10px;}
#gamePage #leftArea #statArea #levelinfo #levelBarArea #levelBarBack{display:block; float:left; background-color:#333; width:90%; height:24px; text-align:center; margin-bottom:3px;}
#gamePage #leftArea #statArea #levelinfo #levelBarArea #levelBarExp{color:white; display:block; line-height:20px; border:solid 2px #aaa; position:absolute; z-index:1; width:224px; height:20px; text-align:center;}
#gamePage #leftArea #statArea #title{height: 22px; display:inline-block; width:60px; vertical-align:top; text-align:right;}
#gamePage #leftArea #statArea #content{height: 22px; color:#222; font-weight:bold; margin-left:10px;  vertical-align:top;}

#gamePage #leftArea #chatArea{width:250px; height:261px; margin-top:10px;}
#gamePage #leftArea #chatArea #messages{width:236px; height:213px; background-color:#888; border:solid 2px #555; overflow-x:hidden; overflow-y:scroll; padding:5px;}
#gamePage #leftArea #chatArea #messages #server{color:#444; font-weight:bold;}
#gamePage #leftArea #chatArea #messages #br{color:#333; font-weight:bold;}
#gamePage #leftArea #chatArea #messages #br span{color:#eee; font-weight:bold;}
#gamePage #leftArea #chatArea #messages #name{color:#ccc; font-weight:bold;}
#gamePage #leftArea #chatArea #messages #content{color:#fff;}
#gamePage #leftArea #chatArea #messages #content img{max-width:100%; height:auto;}
#gamePage #leftArea #chatArea #inputArea{width:246px; height:24px; background-color:#888; border:solid 2px #555; margin-top:6px;}
#gamePage #leftArea #chatArea #inputArea #inputbox{float:left; width:180px; height:20px; background-color:#888; border:0; margin:1px;}
#gamePage #leftArea #chatArea #inputArea #submit{float:right; width:60px; height:24px; padding:0px; border:0;}

#gamePage #tableArea{float:left; width:230px; height:620px; padding:10px; margin-left:10px;}
#gamePage #tableArea #tableTitle{width:246px; height:30px; background-color:#888; border:solid 2px #555; text-align:center; line-height:30px; font-weight:bold;}
#gamePage #tableArea #table{width:246px; height:572px; margin-top:10px; border:solid 2px #555; background-color:#888;}
#gamePage #tableArea #table .cards{width:236px; height:76px; overflow:hidden; margin:5px;}
#gamePage #tableArea #table .cards img{max-height:100%; width:auto;}
#gamePage #tableArea #table #whitecard{float:left; height:72px; color:#111; background-color:#eee; border:solid 2px #555; overflow:hidden; text-align:center;}
#gamePage #tableArea #table #pack3 #whitecard{width:71px; margin-left:5px;}
#gamePage #tableArea #table #pack3 #whitecard:first-child{margin-left:0px;}
#gamePage #tableArea #table #pack2 #whitecard{width:111px; margin-left:5px;}
#gamePage #tableArea #table #pack2 #whitecard:first-child{margin-left:0px;}
#gamePage #tableArea #table #pack1 #whitecard{width:232px;}

.winnercard {background-color:#555; color:white;}
.winner {background-color:white; color:#555;}

#gamePage #tableArea #table .cards:hover #whitecard{cursor:pointer; border:solid 2px #ddd;}

#gamePage #handArea{float:left; width:230px; height:620px; padding:10px; margin-left:10px;}
#gamePage #handArea #handTitle{width:246px; height:30px; background-color:#888; border:solid 2px #555; text-align:center; line-height:30px; font-weight:bold;}
#gamePage #handArea #hand{width:246px; height:572px; margin-top:10px; border:solid 2px #555; background-color:#888;}
#gamePage #handArea #hand .cards{width:236px; height:51.5px; overflow:hidden; margin:5px;}
#gamePage #handArea #hand .cards img{max-height:100%; width:auto;}
#gamePage #handArea #hand .cards #whitecard{float:left; height:47.5px; width:232px; color:#111; background-color:#eee; border:solid 2px #555; overflow:hidden; text-align:center;}
#gamePage #handArea #hand .cards:hover #whitecard{cursor:pointer; border:solid 2px #ddd;}

#gamePage #rightArea{float:left; width:218px; height:620px; padding:10px; margin-left:10px;}
#gamePage #rightArea #playerArea{width:208px; height:442px; background-color:#888; border:solid 2px #555; text-align:center; padding:5px;}
#gamePage #rightArea #playerArea .player{width:201px; height:43px; background-color:#555; border:solid 2px #333; padding:2px; margin-top:5px; text-align:left;}
#gamePage #rightArea #playerArea .player:first-child{margin-top:0px;}
#gamePage #rightArea #playerArea .player:hover {background-color:#777; border:solid 2px #555; color:#fff; cursor:pointer;}
#gamePage #rightArea #playerArea .player #name{clear:both; margin-left:5px;}
#gamePage #rightArea #playerArea .player #level{float:left; width:80px; margin-left:5px;}
#gamePage #rightArea #playerArea .player #score{float:left; width:30px; margin-left:5px;}
#gamePage #rightArea #playerArea .player #title{float:right; width:50px; background-color:#333; text-align:center;}

#gamePage #rightArea #spectateArea{width:208px; height:100px; background-color:#888; border:solid 2px #555; text-align:center; padding:5px; overflow-y:scroll; overflow-x:hidden; margin-top:5px;}
#gamePage #rightArea #spectateArea .player{width:180px; height:23px; background-color:#555; border:solid 2px #333; padding:2px; margin-top:5px; text-align:left; overflow:hidden;}
#gamePage #rightArea #spectateArea .player:first-child{margin-top:0px;}
#gamePage #rightArea #spectateArea .player:hover {background-color:#777; border:solid 2px #555; color:#fff; cursor:pointer;}
#gamePage #rightArea #spectateArea .player #name{float:left; margin-left:5px;}

#gamePage #rightArea #settingsArea{width:222px; height:39px; text-align:center; margin-top:5px;}
#gamePage #rightArea #settingsArea div{float:left; height:26px; line-height:26px; width:56px; margin-left:5px;}
#gamePage #rightArea #settingsArea div:first-child{margin-left:0px;}

#mask {display: none; z-index:500; position:fixed; float:left; left:0px; top:0px; height:0px; background-color:black; width:100%; height:100%; filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7; }
.mask{-webkit-filter: blur(5px); -moz-filter: blur(5px); filter: blur(5px);}

.settingsPage{display:none; position:absolute; z-index:999; background-color:#888; border:solid 2px #333; margin:auto; left:0px; top:0px; right:0px; bottom:0px; color:black;}
.settingsPage .title{height:40px; background-color:#333; color:white; text-align:center; font-weight:bold; line-height:40px; font-size:20px;}
.settingsPage .closeButton{float:right; width:40px; height:40px; text-align:center; background-color:#555;}
.settingsPage .closeButton:hover{background-color:#aaa; color:#111; cursor:pointer;}
.settingsPage .content .desc{text-align:center; margin:10px 0px;}

#createcard{width:500px; height:350px;}
#createcard .options{text-align:center;}
#createcard #text{resize:none; width:480px; height:150px; margin:10px 8px;}
#createcard #submit{width:200px;margin:0px auto; border:solid 2px #333;}

#createroom{width:300px; height:350px;}
#createroom .option{padding:10px; margin:10px;}
#createroom .option input{margin-left:10px;}
#createroom #cardpacks {margin-bottom:30px;}
#createroom #cardpacks div{display:inline-block;}
#createroom #submit{width:200px;margin:0px auto; border:solid 2px #333;}

#setroom{width:300px; height:410px;}
#setroom .option{padding:10px; margin:10px;}
#setroom .option input{margin-left:10px;}
#setroom #cardpacks {margin-bottom:30px;}
#setroom #cardpacks div{display:inline-block;}
#setroom #submit{width:200px;margin:0px auto; border:solid 2px #333;}

#sug{width:500px; height:310px;}
#sug #text{resize:none; width:480px; height:150px; margin:10px 8px;}
#sug #submit{width:200px;margin:0px auto; border:solid 2px #333;}

#pend{width:900px; height:610px;}
#pend #tablecontainer{width:880px; height:495px; margin:10px 8px; overflow:auto; text-align:center; background-color:#ddd; border:solid 2px #666;}
#pend #table{display:block; margin:0px auto;}
#pend #table td{min-width:80px; padding:5px;}
#pend #submit{width:200px;margin:0px auto; border:solid 2px #333;}

#gamestart{width:500px; height:300px;}
.preview {color:#fff; font-weight:bold; text-decoration:underline; margin-left:3px; margin-right:3px;}

#czarmask {position:absolute; float:left; width:246px; height:572px; background-color:#000; margin-top:10px; line-height:572px; font-size:30px; color:#aaa; font-weight:bold; word-spacing:20px; text-align:center; border:solid 2px #555; filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;}

#table .cover{float:left; position:relative; z-index:10;}